---
layout : layout
title : AnonJr.com
---

<div class="posts">
{% for post in site.posts  limit:5 %}
    <div class="entry-container">
        <h2 class="post-title"><a class="postlink" href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="metainfo"><span class="postdate"><span class="fa fa-calendar" aria-hidden="true"></span> {{ post.date | date: "%e %b %Y"  }}</span>&nbsp;&nbsp;{% include tags.html %}</div>
        {{ post.excerpt }}
        {% capture content_words %}
            {{ post.content | number_of_words }}
        {% endcapture %}
        {% capture excerpt_words %}
            {{ post.excerpt | number_of_words }}
        {% endcapture %}
        {% if excerpt_words != content_words %}<p><a href="{{ post.url }}#read-more">Read more <span class="fa fa-arrow-circle-right"></span></a></p>{% endif %}
        {% if post.comments == true and site.disqus_enable == true %}<a href="{{ post.url }}#disqus_thread">Comments</a>{% endif %}
    </div>
{% endfor %}
</div>
{% if site.posts.size > 5 %}
<h3>Older</h3>
<ul class="postArchive">
{% for post in site.posts offset:5 %}
    <li><span class="fa fa-calendar" aria-hidden="true"></span><span class="olderpostdate"> {{ post.date | date: "%d %b"  }} </span> <a class="postlink" href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if post.comments == true and site.disqus_enable == true %}
<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="//disqus.com/forums/DISQUS_NAME/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
{% endif %}