---
---

@use "sass:math";
@import "pure.css";
@import "fontawesome-all.css";

/* Colors etc. */
$highlight-color: #ff9900;
$container-bg: rgba(0,0,0, .55); /* url(black50.png); */
$headerFont: 'Alfa Slab One', Georgia, 'Times New Roman', Times, serif;
$bodyFont: 'Acme', FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif;
$monoFont: Consolas, Monaco, 'Courier New', monospaced;

/* Linked Google Fonts
font-family: 'Acme', sans-serif;
font-family: 'Alfa Slab One', cursive;
*/

body
{
  background-color: #000000; /*  url(background.jpg) repeat-x fixed top center - pulling 'till I can get it to scale right */
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #cccccc;
  font-family: $bodyFont;
  margin-left:auto;
  margin-right: auto;
  width:1100px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  color: #ffffff;
  font-family: $headerFont;
  font-weight: normal;
  margin: 15px 0 5px;
  padding: 2px 0;
}

a
{
    color: $highlight-color;
    text-decoration: none;
    &:hover {
        color: #ffaa00;
        text-decoration: underline;
    }
    &:visited {
        color: #dd7700;
    }
    &:focus {
        color: #ffaa00;
        outline: thin dotted;
    }
    &:active {
        color: #ffaa00;
        text-decoration: underline;
    }
}

nav .navitem
{
    clear: both;
    display: block;
    border-bottom: 1px dashed rgba(128, 128, 128, .5);
}

#container
{
    background: $container-bg;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px 20px;
    width: 80%;
}

#side
{
   & *
    {
        padding-left: 5px;
    }
}

img#gravatar {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.entry-container
{
    background-color: #0a0a0a;
    border-radius: 10px;
    padding: 15px;
}

.entry-container + .entry-container
{
    margin-top: 15px;
}

h2.post-title
{
    color: $highlight-color;
    margin-top: 0px;
}

a.tag {
    font-size: smaller;
    margin: 0 3px 0 3px;
    padding: 2px;
}

#page-navigation {
    padding-bottom: 15px;
    padding-top: 15px;
}

.previous
{
    float: left;
    text-align: left;
    width: 45%;
}

.next
{
    float: right;
    text-align: right;
    width: 45%;
}

.pagination
{
  clear:both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

.olderpostdate
{
  font-family: $monoFont;
  font-weight: bold;
}

#footer
{
    background: $container-bg;
    font-size: smaller;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px 20px;
    text-align: center;
    width: 80%;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

/* ==========================================================================
  Tooltips from https://stackoverflow.com/a/25836471/25163
========================================================================== */

[data-tooltip] {
  display: inline-block;
  position: relative;
  cursor: help;
  padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background: #fff;
  color: #000;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.4;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
  bottom: 100%;
  margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
  left: 100%;
  margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
  top: 100%;
  margin-top: 6px;
}
[data-tooltip-position="left"]:before {
  right: 100%;
  margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
  left: 50%;
  margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
  top: 50%;
  margin-top: -6px;
}
[data-tooltip-position="top"]:after {
  bottom: 100%;
  border-width: 6px 6px 0;
  border-top-color: #fff;
}
[data-tooltip-position="right"]:after {
  left: 100%;
  border-width: 6px 6px 6px 0;
  border-right-color: #fff;
}
[data-tooltip-position="bottom"]:after {
  top: 100%;
  border-width: 0 6px 6px;
  border-bottom-color: #fff;
}
[data-tooltip-position="left"]:after {
  right: 100%;
  border-width: 6px 0 6px 6px;
  border-left-color: #fff;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  z-index: 50;
}

/* ==========================================================================
   Responsive Embed
   Credit: Nicolas Gallagher and SUIT CSS.

   <!-- 16:9 aspect ratio -->
   <div class="responsive-embed responsive-embed-16by9">
     <iframe class="responsive-embed-item" src="..."></iframe>
   </div>

   <!-- 4:3 aspect ratio -->
   <div class="responsive-embed responsive-embed-4by3">
     <iframe class="responsive-embed-item" src="..."></iframe>
   </div>
   ========================================================================== */

   .responsive-embed {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
    }

    .responsive-embed-item,
    iframe,
    embed,
    object,
    video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .responsive-embed-21by9 {
    &::before {
      padding-top: percentage(math.div(9, 21));
    }
  }

  .responsive-embed-16by9 {
    &::before {
      padding-top: percentage(math.div(9, 16));
    }
  }

  .responsive-embed-4by3 {
    &::before {
      padding-top: percentage(math.div(3, 4));
    }
  }

  .responsive-embed-1by1 {
    &::before {
      padding-top: percentage(math.div(1, 1));
    }
  }
