---
---

@import (less) "pure.css";
@import (less) "font-awesome.css";

/* Colors etc. */
@highlight-color: #ff9900;

body
{
    background-color: #000000; /*  url(background.jpg) repeat-x fixed top center - pulling 'till I can get it to scale right */
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #cccccc;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    margin-left:auto;
	margin-right: auto;
	width:1100px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px 0 5px;
    padding: 2px 0;
}

a
{
    color: @highlight-color;
    text-decoration: none;
    &:hover {
        color: #ffaa00;
        text-decoration: underline;
    }
    &:visited {
        color: #dd7700;
    }
    &:focus {
        color: #ffaa00;
        outline: thin dotted;
    }
    &:active {
        color: #ffaa00;
        text-decoration: underline;
    }
}

nav .navitem
{
    clear: both;
    display: block;
    border-bottom: 1px dashed rgba(128, 128, 128, .5);
}

#container
{
    background: rgba(0,0,0, .5); /* url(black50.png); */
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px 20px;
    width: 860px;
}

#side
{
   // padding: 15px 5px 20px;
}

img#gravatar {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#tagcloud
{
    list-style: none;
    padding: 0;

    & ul
    {
        display: block;
    }

    & li
    {
        display: inline-block;
    }
}

.entry-container
{
    background-color: #1c1c1c;
    padding: 15px;
}

.entry-container + .entry-container
{
    margin-top: 15px;
}

h2.post-title
{
    color: @highlight-color;
    margin-top: 0px;
}

a.tag {
    font-size: smaller;
    margin: 0 3px 0 3px;
    padding: 2px;
}

#footer
{
    background: rgba(0,0,0, .6); /* url(black50.png); */
    font-size: smaller;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px 20px;
    text-align: center;
    width: 860px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}