<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>{{ page.title }}</title>

    <link href="/res/favicon.ico" rel="shortcut icon" type="image/ico"  />
    <link href="/humans.txt" rel="author" type="text/plain" />

    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="RSS Feed" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Atom Feed" />

    <link rel="stylesheet" type="text/css" href="/res/main.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.4/styles/default.min.css">

    {% include opengraph.html %}

    <script src="/res/html5shiv.js"></script>

    {% if site.google_analytics_tracking_id %}{% include google_analytics.html %}{% endif %}
</head>
