<h2>AnonJr.com</h2>
<nav>
    <div class="navitem"><a href="/" >Home</a></div>
    <div class="navitem"><a href="/p/about.html">About</a></div>
    <div class="navitem"><a href="https://careers.stackoverflow.com/anonjr">CV</a></div>
    <div class="navitem"><a href="/rss.xml">RSS Feed</a></div>
</nav>

<h2>Content</h2>
<nav>
    <div class="navitem"><a href="https://www.twitch.tv/anonjr_live">Twitch</a></div>
    <div class="navitem"><a href="https://www.youtube.com/channel/UCXafqhKHbkSUIrq0LAuu0tw">YouTube</a></div>
    <div class="navitem"><a href="https://streamlabs.com/anonjr_live">Support</a></div>
</nav>

<h2>Social</h2>
<nav>
    <div class="navitem"><a href="https://twitter.com/AnonJr/">Twitter</a></div>
    <div class="navitem"><a href="https://www.instagram.com/anonjr_live/">Instagram</a></div>
    <div class="navitem"><a href="https://github.com/AnonJr/">GitHub</a></div>
    <div class="navitem"><a href="https://dev.to/anonjr">Dev.to</a></div>
    <div class="navitem"><a href="https://www.planetminecraft.com/member/anonjr/">Planet Minecraft</a></div>
    <div class="navitem"><a href="https://stackexchange.com/users/12701/anonjr">Stack Exchange</a></div>
</nav>

<h2>Projects</h2>
<nav>
    <div class="navitem"><a href="/p/biblebyexample.html">Bible By Example</a></div>
    <div class="navitem"><a href="/p/coffeecraft.html">CoffeeCraft</a></div>
    <div class="navitem"><a href="/p/resource-packs.html">Minecraft Resource Packs</a></div>
    <div class="navitem"><a href="/p/gamesrevisited.html">Games Revisited</a></div>
    <div class="navitem"><a href="/p/projects.html">Wayward Son Developers</a></div>
</nav>
{% comment %}
<div class="navitem"><a href="/p/asp-ajaxed.html">ASP-Ajaxed</a></div>
<div class="navitem"><a href="/p/snitz-forums.html">Snitz Forums</a></div>
<div class="navitem"><a href="https://mixer.com/AnonJr_Live">Mixer (Inactive)</a></div>
<h2><a href="https://stackexchange.com/users/12701">
    <img src="https://stackexchange.com/users/flair/12701.png" width="208" height="58" alt="profile for AnonJr on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for AnonJr on Stack Exchange, a network of free, community-driven Q&amp;A sites" />
</a></h2>
{% endcomment %}