<h2>AnonJr.com</h2>
<nav>
    <div class="navitem"><a href="/" >Home</a></div>
    <div class="navitem"><a href="/p/about.html">About</a></div>
    <div class="navitem"><a href="https://careers.stackoverflow.com/anonjr">CV</a></div>
    <div class="navitem"><a href="/rss.xml">RSS Feed</a></div>
</nav>

<h2>Projects</h2>
<nav>
    <div class="navitem"><a href="/p/asp-ajaxed.html">ASP-Ajaxed</a></div>
    <div class="navitem"><a href="/p/biblebyexample.html">Bible By Example</a></div>
    <div class="navitem"><a href="/p/coffeecraft.html">CoffeeCraft</a></div>
    <div class="navitem"><a href="/p/snitz-forums.html">Snitz Forums</a></div>
    <div class="navitem"><a href="/p/projects.html">Wayward Son Developers</a></div>
</nav>

<h2>Live</h2>
<nav>
    <div class="navitem"><a href="https://www.youtube.com/channel/UCXafqhKHbkSUIrq0LAuu0tw"><span class="fab fa-youtube" aria-hidden="true"></span>&nbsp;YouTube</a></div>
    <div class="navitem"><a href="https://www.twitch.tv/anonjr_live"><span class="fab fa-twitch" aria-hidden="true"></span>&nbsp;Twitch</a></div>
    <div class="navitem"><a href="https://mixer.com/AnonJr_Live"><span class="fab fa-mixer" aria-hidden="true"></span>&nbsp;Mixer (Inactive)</a></div>
</nav>

<h2>Social</h2>
<nav>
    <div class="navitem"><a href="https://dev.to/anonjr"><span class="fab fa-dev" aria-hidden="true"></span>&nbsp;Dev.to</a></div>
    <div class="navitem"><a href="https://github.com/AnonJr/"><span class="fab fa-github-square" aria-hidden="true"></span>&nbsp;GitHub</a></div>
    <div class="navitem"><a href="https://stackexchange.com/users/12701/anonjr"><span class="fab fa-stack-exchange" aria-hidden="true"></span>&nbsp;Stack Exchange</a></div>
    <div class="navitem"><a href="https://twitter.com/AnonJr"><span class="fab fa-twitter-square" aria-hidden="true"></span>&nbsp;Twitter</a></div>
</nav>
{% comment %}
<h2><a href="https://stackexchange.com/users/12701">
    <img src="https://stackexchange.com/users/flair/12701.png" width="208" height="58" alt="profile for AnonJr on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for AnonJr on Stack Exchange, a network of free, community-driven Q&amp;A sites" />
</a></h2>
{% endcomment %}