<h2>AnonJr.com</h2>
<nav>
    <div class="navitem"><a href="/" ><span class="fas fa-home fa-fw" aria-hidden="true"></span>&nbsp;Home</a></div>
    <div class="navitem"><a href="/p/about.html"><span class="fas fa-user-tie fa-fw" aria-hidden="true"></span>&nbsp;About</a></div>
    <div class="navitem"><a href="https://careers.stackoverflow.com/anonjr"><span class="fas fa-file-alt fa-fw" aria-hidden="true"></span>&nbsp;CV</a></div>
    <div class="navitem"><a href="/rss.xml"><span class="fas fa-rss-square fa-fw" aria-hidden="true"></span>&nbsp;RSS Feed</a></div>
</nav>

<h2>Projects</h2>
<nav>
    <div class="navitem"><a href="/p/asp-ajaxed.html"><span class="fas fa-code fa-fw" aria-hidden="true"></span>&nbsp;ASP-Ajaxed</a></div>
    <div class="navitem"><a href="/p/biblebyexample.html"><span class="fas fa-bible fa-fw" aria-hidden="true"></span>&nbsp;Bible By Example</a></div>
    <div class="navitem"><a href="/p/coffeecraft.html"><span class="fas fa-mug-hot fa-fw" aria-hidden="true"></span>&nbsp;CoffeeCraft</a></div>
    <div class="navitem"><a href="/p/snitz-forums.html"><span class="fas fa-comments fa-fw" aria-hidden="true"></span>&nbsp;Snitz Forums</a></div>
    <div class="navitem"><a href="/p/projects.html"><span class="fas fa-project-diagram fa-fw" aria-hidden="true"></span>&nbsp;Wayward Son Developers</a></div>
</nav>

<h2>Live</h2>
<nav>
    <div class="navitem"><a href="https://www.youtube.com/channel/UCXafqhKHbkSUIrq0LAuu0tw"><span class="fab fa-youtube fa-fw" aria-hidden="true"></span>&nbsp;YouTube</a></div>
    <div class="navitem"><a href="https://www.twitch.tv/anonjr_live"><span class="fab fa-twitch fa-fw" aria-hidden="true"></span>&nbsp;Twitch</a></div>
    <div class="navitem"><a href="https://mixer.com/AnonJr_Live"><span class="fab fa-mixer fa-fw" aria-hidden="true"></span>&nbsp;Mixer (Inactive)</a></div>
    <div class="navitem"><a href="https://streamlabs.com/anonjr_live"><span class="fas fa-hand-holding-usd fa-fw" aria-hidden="true"></span>&nbsp;Support</a></div>
</nav>

<h2>Social</h2>
<nav>
    <div class="navitem"><a href="https://twitter.com/AnonJr"><span class="fab fa-twitter-square fa-fw" aria-hidden="true"></span>&nbsp;Twitter</a></div>
    <div class="navitem"><a href="https://github.com/AnonJr/"><span class="fab fa-github-square fa-fw" aria-hidden="true"></span>&nbsp;GitHub</a></div>
    <div class="navitem"><a href="https://dev.to/anonjr"><span class="fab fa-dev fa-fw" aria-hidden="true"></span>&nbsp;Dev.to</a></div>
    <div class="navitem"><a href="https://www.planetminecraft.com/member/anonjr/"><span class="fas fa-globe-americas fa-fw" aria-hidden="true"></span>&nbsp;Planet Minecraft</a></div>
    <div class="navitem"><a href="https://stackexchange.com/users/12701/anonjr"><span class="fab fa-stack-exchange fa-fw" aria-hidden="true"></span>&nbsp;Stack Exchange</a></div>
</nav>
{% comment %}
<h2><a href="https://stackexchange.com/users/12701">
    <img src="https://stackexchange.com/users/flair/12701.png" width="208" height="58" alt="profile for AnonJr on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for AnonJr on Stack Exchange, a network of free, community-driven Q&amp;A sites" />
</a></h2>
{% endcomment %}