<!DOCTYPE HTML>
<html lang="en">
	{% include head.html %}
	<body>
		<div id="container" class="pure-g">
			<div id="side" class="pure-u-1-4">
				<h2>AnonJr.com</h2>
				<nav>
					<div class="navitem"><a href="/" >Home</a></div>
					<div class="navitem"><a href="/p/about.html">About</a></div>
					<div class="navitem"><a href="http://careers.stackoverflow.com/anonjr">CV</a></div>
					<div class="navitem"><a href="/rss.xml">RSS Feed</a></div>
				</nav>

				<h2>Projects</h2>
				<nav>
					<div class="navitem"><a href="/p/projects.html">Wayward Son Developers</a></div>
					<div class="navitem"><a href="/p/asp-ajaxed.html">ASP-Ajaxed</a></div>
					<div class="navitem"><a href="/p/snitz-forums.html">Snitz Forums</a></div>
				</nav>

				<h2>Find Me At</h2>
				<nav>
					<div class="navitem"><a href="https://twitter.com/AnonJr">Twitter</a></div>
					<div class="navitem"><a href="https://github.com/AnonJr/">Github</a></div>
					<div class="navitem"><a href="https://stackoverflow.com/">Stack Overflow</a></div>
				</nav>

				<a href="https://stackexchange.com/users/12701">
					<img src="https://stackexchange.com/users/flair/12701.png" width="208" height="58" alt="profile for AnonJr on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for AnonJr on Stack Exchange, a network of free, community-driven Q&amp;A sites" />
				</a>
				<!-- {% include tagcloud.html %} -->
			</div>
			<div id="content" class="pure-u-3-4">
				{{content}}
			</div>
		</div>
		{% include footer.html %}
		<script src="//cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>