<!DOCTYPE HTML>
<html lang="en">
	{% include head.html %}
	<body>
		<div id="container" class="pure-g">
			<div id="side" class="pure-u-1-4">
				<div id="hometext"><a href="/" >AnonJr.com</a></div>
				<div class="section">
					<ul>
						<li><a href="/about.html">About</a></li>
						<li><a href="/rss.xml">RSS Feed</a></li>
					</ul>
				</div>
			</div>
			<div id="content" class="pure-u-3-4">
				{{content}}
			</div>
		</div>
		<script src="//cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>